<div class="encabezado">
  <h1>¡Hola {{ destino }}!</h1>
  <app-copyright></app-copyright>
  <app-viewmodelo></app-viewmodelo>
  <app-ejmetodo></app-ejmetodo>
  <app-ejpropertybinding></app-ejpropertybinding>
  <app-ejeventbinding></app-ejeventbinding>
  <app-ej2waybinding></app-ej2waybinding>
</div>

<div class="container" >
  <h3>Ejemplo de directiva ngIf</h3>
  <hr>
  <app-ejdirectivangif></app-ejdirectivangif>
</div>

<div class="container" >
  <h3>Ejemplo de directiva ngStyle</h3>
  <hr>
  <app-ejdirectivangstyle></app-ejdirectivangstyle>
</div>


<div class="container" >
  <h3>Ejemplo de directiva ngClass</h3>
  <hr>
  <app-ejdirectivangclass></app-ejdirectivangclass>
</div>

<div class="container" >
  <h3>Ejemplo de directiva ngFor</h3>
  <hr>
  <app-ejdirectivangfor></app-ejdirectivangfor>
</div>


<div class="container" >
  <h3>Ejemplo de directiva ngFor con objetos</h3>
  <hr>
  <app-arrayobjetos></app-arrayobjetos>
</div>


<div class="container" >
  <h3>Ejemplo de directiva ngSwitch</h3>
  <hr>
  <app-ejdirectivangswitch></app-ejdirectivangswitch>
</div>


<div class="container" >
  <h3>Creación directiva propia</h3>
  <hr>
  <app-ejmidirectiva></app-ejmidirectiva>
</div>


<div class="container" >
  <h3>Ejemplo de uso de "&#64;"Input</h3>
  <hr>
  <app-padre></app-padre>
</div>